.mainContainer {
  padding: 2rem;
  position: relative;
  width: 100vw;
  height: 30rem;
}
.mainContainer h1 {
  padding: 2rem 0;
  width: 100%;
  font-size: 1.7rem;
}

.albumRow {
  width: 90%;
  height: 40vh;
  display: flex;
}
