.albumContainer {
  position: absolute;
  bottom: 0;
  width: 10vw;
  border-radius: 2rem;
  /* border: 1px solid green; */
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(145deg, #121314, #0f1011);
  box-shadow: 16px 16px 50px #0a0b0c, -16px -16px 50px #18191a;
  flex-direction: column;
}

.albumImage {
  width: 70%;
  margin: 0 auto;
  border-radius: 2rem;
}

.cardMusic {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardMusic h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

.cardMusic .iconsPlayer {
  width: 70%;

  display: flex;
  margin: 0.2rem auto;
  justify-content: space-evenly;
}

.cardMusic .iconsPlayer svg {
  margin-top: 1rem;
  font-size: 3rem;
}

.albumContainer p.albumName {
  width: 90%;
  margin: 0 auto;
  padding: 0.4rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.5rem;
}
